.block-checkboxes {
  padding-top: 22px;
  column-count: 3;

  @media (max-width: 799px) {
    column-count: 2;
  }

  @media (max-width: 460px) {
    column-count: 1;
  }

  &__item {
    margin-bottom: 5px;
    padding-right: 25px;

    @media (max-width: 799px) {
      width: 100%;
    }

    &:nth-child(n+8) {
      margin-left: -5px;

      @include tablet {
        margin-left: 0;
      }
    }

    &:nth-child(n+15) {
      margin-left: 4px;

      @include tablet {
        margin-left: 0;
      }
    }

    &--margin-bug {
      margin-left: 12px;
    }
  }
}