.page {
  width: 1000px;
  margin: 0 auto;
  padding: 62px 117px 69px 112px;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-position: -55px -70px;

  @include tablet {
    width: 100%;
    padding: 60px;
  }

  @include mobile {
    min-width: 360px;
    padding: 40px 30px;
  }

  &__subtitle {
    @include text(24px, 48.83px, 700);
    margin: 0 0 -3px -2px;

    @include mobile {
      margin-bottom: 18px;
      line-height: 28px;
    }

    &--js {
      margin-left: 1px;
    }

    &--about {
      margin-left: 0;
      margin-bottom: 0;

      @include mobile {
        margin-bottom: 18px;
      }
    }
  }

  &__text {
    @include text(15px, 23px, 400);
    margin: 0;
    letter-spacing: -0.004em;

    &--offset {
      margin-left: 3px;
    }
  }

  &__skills {
    margin-bottom: 44px;
  }

  &__about {
    margin-bottom: 23px;
  }

  &__date {
    margin-top: 76px;

    @include mobile {
      margin-top: 30px;
    }
  }

  &__text-field {
    @include text(30px, 60px, 400);
    width: 100%;
    height: auto;
    min-height: 190px;
    margin: 25px 0 0 0;
    padding-left: 3px;
    font-family: $courier;
    color: $user-text;
    background-image: url("../img/line_t-area.png");
    background-size: auto;
    background-position: 0 19px;
    background-repeat: repeat;

    @include mobile {
      font-size: 24px;
    }

    &:focus {
      outline: none;
    }
  }
}