.header {
  position: relative;

  &::after {
    @include sprite($s-stamp);
    position: absolute;
    top: -14px;
    right: -64px;
    content: "";

    @include tablet {
      right: -55px;
      transform: scale(0.8);
    }

    @include tablet {
      transform: scale(0.6);
    }
  }

  &__logo {
    @include mobile {
      transform: scale(0.8) translateX(-20px);
    }
  }

  &__title {
    @include sprite($s-profile);
    margin: 37px auto 0;

    @include mobile {
      margin-top: 25px;
      transform: scale(0.85);
    }
  }
}