header.header.page__header
    img.header__logo(src="img/logo.png", width="154", height="52", alt="Логотип компании CSSSR")
    h1.header__title(aria-label="Профиль кандидата на вакансию HTML-верстальщик")
