$s-checkbox-checked: (349px, 65px, -349px, -65px, 24px, 28px, 774px, 294px, 'sprite.png');
$s-checkbox: (397px, 65px, -397px, -65px, 19px, 18px, 774px, 294px, 'sprite.png');
$s-profile: (0px, 176px, 0px, -176px, 221px, 118px, 774px, 294px, 'sprite.png');
$s-radio-checked: (257px, 65px, -257px, -65px, 41px, 45px, 774px, 294px, 'sprite.png');
$s-radio: (303px, 65px, -303px, -65px, 41px, 45px, 774px, 294px, 'sprite.png');
$s-slider: (0px, 0px, 0px, 0px, 774px, 60px, 774px, 294px, 'sprite.png');
$s-stamp: (0px, 65px, 0px, -65px, 252px, 106px, 774px, 294px, 'sprite.png');
$s-triangle: (421px, 65px, -421px, -65px, 17px, 14px, 774px, 294px, 'sprite.png');
$s-vert-line-long: (378px, 65px, -378px, -65px, 14px, 26px, 774px, 294px, 'sprite.png');
