$s-checkbox-checked: (263px, 100px, -263px, -100px, 24px, 28px, 304px, 229px, 'sprite.png');
$s-checkbox: (263px, 133px, -263px, -133px, 24px, 28px, 304px, 229px, 'sprite.png');
$s-profile: (0px, 0px, 0px, 0px, 258px, 118px, 304px, 229px, 'sprite.png');
$s-radio-checked: (263px, 0px, -263px, 0px, 41px, 45px, 304px, 229px, 'sprite.png');
$s-radio: (263px, 50px, -263px, -50px, 41px, 45px, 304px, 229px, 'sprite.png');
$s-stamp: (0px, 123px, 0px, -123px, 252px, 106px, 304px, 229px, 'sprite.png');
$s-triangle: (263px, 166px, -263px, -166px, 17px, 14px, 304px, 229px, 'sprite.png');
$s-vert-line-long: (292px, 100px, -292px, -100px, 2px, 25px, 304px, 229px, 'sprite.png');
$s-vert-line-short: (299px, 100px, -299px, -100px, 2px, 11px, 304px, 229px, 'sprite.png');
