/* Переменные */

/* Шрифты */
$ptsans: 'PT Sans', 'Arial', sans-serif;
$courier: 'Courier New', monospace;

/* Цвета */
$black: #000000;
$title: #2f1615;
$user-text: #231f20;
$info-text: #cacaca;
$link: #1f5f97;
$background: #797979;

/* Геометрия */
$desktop: 1000px;
$tablet: 999px;
$mobile: 599px;
