.slider
    .slider__area
        .slider__control
    ul.slider__list
        li.slider__item.slider__item--no-js Не владею
        li.slider__item.slider__item--junior Использую готовые решения
        li.slider__item.slider__item--middle Использую готовые решения и умею их переделывать
        li.slider__item.slider__item--senior Пишу сложный JS с нуля