.input-checkbox {
  display: inline-block;

  &__input:checked + .input-checkbox__label::before {
    @include sprite($s-checkbox-checked);
  }

  &__label {
    @include text(21px, 25px, 700);
    position: relative;
    display: flex;
    padding-top: 5px;
    color: $black;
    white-space: nowrap;

    @include mobile {
      font-size: 18px;
      line-height: 23px;
    }

    &::before {
      @include sprite($s-checkbox);
      flex-shrink: 0;
      content: '';
      margin-top: -5px;
      margin-right: 4px;
    }

    &--offset {
      margin: 3px 0 -3px 0;
    }

    &--box-offset {
      &::before {
        margin-right: 0;

        @include tablet {
          margin-right: 4px;
        }
      }
    }

    &--word-wrap {
      white-space: normal;
    }

    &--bug::before {
      margin-top: -8px;
    }

    & span:nth-of-type(1) {
      margin: 1px 0 -1px 4px;
    }

    & span:nth-of-type(2) {
      margin: 2px 0 -2px 5px;
    }

    & span:nth-of-type(3) {
      margin: 3px 0 -3px 5px;
    }

    & a {
      margin-left: 5px;
      padding-top: 5px;
      font-weight: 700;
      line-height: 15px;
      border-bottom: 1px solid $link;
      color: $link;
    }
  }
}